<?xml version="1.0" encoding="utf-8"?>
<configuration>
  <startup>
    <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.6" />
  </startup>
  <appSettings>
    <add key="MainUI" value="Default" />
    <add key="Password" value="" />
    <add key="HomePageURL" value="false" />
    <add key="URL" value="https://google.co.kr" />
    <add key="Webadressbar" value="false" />
    <add key="SearchEngine" value="Google"/>
    <add key="Link" value="" />
  </appSettings>
</configuration>