<?xml version="1.0" encoding="utf-8"?>
<packages>
  <package id="cef.redist.x64" version="91.1.16" targetFramework="net46" />
  <package id="cef.redist.x86" version="91.1.16" targetFramework="net46" />
  <package id="CefSharp.Common" version="91.1.160" targetFramework="net46" />
  <package id="CefSharp.Wpf" version="91.1.160" targetFramework="net46" />
</packages>